@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000 !important;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

#sec-navbar img {
    height: 30px;
}

#sec-carrusel img {
    height: 50vh;
    object-fit: cover;
    object-position: top;
}

#sec-destacados img {
    height: 100px;
    object-fit: cover;
}

@media (min-width: 768px) {
    #sec-carrusel img {
        height: 75vh;
    }
}

@media (min-width: 992px) {
    #sec-carrusel img {
        height: 100vh;
    }
}