body{
    background-color: #000 !important;
    color: #fff;
}

#sec-navbar{background-color: rgba(0,0,0,0);}
#sec-navbar img{height: 30px;}

#sec-carrusel img{
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    object-position: top;
}